*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:1px dotted blue;
}

*div{
    background:white;
}

.header, .textarea, #box, #footer{
    height:50px;
}

.content{
    display:flex;
    height:600px;

    .side-bar{
        width:30%;
    }

    .main-content{
        width:70%;


        .header{
            height:200px;
        }

        .textarea{
            height:400px;
        }
    }
}
